body{
	font-family: Verdana;
}
.logo {
	height: 80px;

}

.containerquiz{ 
	text-align: center;
}

.footer{
	background-color:#E80C94;
	width: 100%;
	position: bottom;
	bottom: 0px;
	text-align: center;
}

.footermentor{
	position: bottom;
	background-color:#E80C94;
	width: 100%;
	bottom: 0px;
	text-align: center;
}

.titel{
	font-size: 60px;
	color: #E80C94;
}

.nav-item{
	margin-bottom: 30px;
}

.download{
	text-align: center;
	margin-top: 20px;
}

.date{
	text-align: center;
	border: solid #E80C94 2px;
	border-radius: 40px; 
	height: 150px;
	margin-top: 20px;

}	

.gallery{
	text-align: center;
	height: 300px;
	width: 100%;
	margin-top: 20px;
	
}

.info{
	text-align: center;
	border: solid #E80C94 2px;
	border-radius: 40px; 
	padding: center;
	margin-bottom: 20px;
	padding: 20px;
	font-size: 15px;
}


.python{
	border: solid #E80C94 2px;
	border-radius: 40px; 
	text-align: center;
	height: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#laddaner{
	background-color: #E80C94;
	width: 300px;
	height: 40px;
}
#quiz{
	background-color: #E80C94;
	width: 150px;
	height: 40px;
}

.stat{
	height: 200px;
	width: 330px;
}

#after_submit{
	visibility: hidden;
	background-color: white;
	margin: auto;
	border-radius: 40px;
	border: solid 4px;
	width: 230px;
	padding: 10px;
	margin-bottom: 20px;
}

.fraga{
	background-color: white;
	width: 600px;
	border: solid 4px;
	border-radius: 40px;
	margin: auto;
}

#egnanews{
	border: solid 1px;
	text-align: center;
	
}

.nyheter{
	border: solid 1px;
	margin: 20px 20px;
}

.presentationer{
	text-align: center;
}

.mentor{
	margin: auto;
	width: 50%;
	border: solid #E80C94 2px;
	border-radius: 40px; 
	padding: 10px;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 10px;
}
.mentorbild{
	width: 125px;
	height: 175px;
}
.ytklipp{
	margin: auto;
	width: 50%; 
	padding: 10px;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 10px;
}